@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    @apply overflow-x-hidden;
  }
  .title {
    @apply text-black-color text-xl md:text-4xl text-center my-3 font-bold;
  }
  .paragraph {
    @apply md:text-base text-sm text-gray-color mb-4;
  }
  .btn {
    @apply text-orange-color bg-bg-btn shadow-lg py-2 px-4 rounded-sm hover:opacity-80;
  }
  .input {
    @apply border-none rounded-lg p-1 outline-none bg-slate-600;
  }
  footer section h1 {
    @apply text-white font-bold;
  }
  .loading-container {
    @apply flex flex-col justify-center items-center h-screen text-xl bg-white w-screen fixed top-0 left-0 z-50 text-gray-color;
  }
  footer ul li:hover {
    @apply text-white translate-x-2 duration-500 relative;
  }
  .detailProject {
    @apply relative lg:flex lg:flex-col lg:items-center;
  }
  .detailProject>div {
    @apply my-8  max-w-[calc(1000px)] lg:flex lg:items-center lg:gap-5;
  }
  .detailProject div h1 {
    @apply font-bold text-gray-700 my-4 text-lg md:text-2xl;
  }
  .height-line li {
    @apply my-4;
  }
  .gallery-container {
    @apply flex justify-around gap-4 sm:gap-0  w-1/2;
  }
}

body,
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.animate-pulse-bounce {

  animation: bounce 3s ease-in-out infinite, pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  /* animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite; */
}

.animate-pulse {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-bounce {
  animation: bounce 3s ease-in-out infinite;
}

.animate-ping {
  animation: ping ease-in-out cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-duration: calc(5s);
  animation-delay: 0ms;
}

@keyframes ping {
  0%, 100% {
    transform: scale(1.3);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: .3;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
/* 
.number {
  font-weight: bold;
  color: #3498db; 
  transition: color 0.01s ease; 
}
 */

/* ================ */

.animated-section {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animated-section.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.animated-image {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animated-image.is-visible {
  opacity: 1;
  transform: translateX(0);
}


.slick-track {
  display: flex !important;
  gap: 10px;

}